<div class="col-md-1"></div>
<div class="w3-container col-md-10 w3-responsive">
<h1 class="w3-center">Price Tables</h1>

<table class="w3-container w3-table-all table-striped">
  <thead>
    <tr class="w3-blue">
      <th>Price</th>
      <!--<th>Active status</th>-->
      <!--<th>Del status</th>-->
      <th>User</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_tables.each do |price_table| %>
      <tr>
        <td><%= price_table.price %></td>
        <td><%#= price_table.active_status,as: :hidden %></td>
        <td><%#= price_table.del_status %></td>
        <td><%= price_table.user_id %></td>
        <td><%= link_to 'Show', price_table,class: 'w3-btn w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_price_table_path(price_table),class: 'w3-btn w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' %></td>
        <td><%= link_to 'Destroy', price_table, method: :delete, data: { confirm: 'Are you sure?' },class: 'w3-btn w3-border w3-border-red w3-round w3-small w3-hover-red w3-hover-text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= link_to 'New Price table', new_price_table_path,class: 'w3-button w3-white w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-left' %>
</div>
  <div class="col-md-1"></div>