<div class="col-md-4"></div>
<div class="w3-container col-md-4">

  <div class="w3-container w3-card-4 w3-center w3-light-grey w3-text-blue w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    <p id="notice"><%= notice %></p>
    <table class="w3-table w3-border table-bordered">
      <tr>
        <td class="w3-blue"><strong>Price </strong></td><td style="padding-left: 6%"><%= @price_table.price %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>User </strong></td><td style="padding-left: 6%"><%= @price_table.user_id %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Active Status </strong></td><td style="padding-left: 6%"><%= @price_table.active_status %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Del Status </strong></td><td style="padding-left: 6%"><%= @price_table.del_status %></td>
      </tr>

    </table>
  </div>


    <div class="w3-container">
    <%= link_to 'Back', price_tables_path,class: 'w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' ,style:'margin-right: 4px' %>
    <%= link_to 'Edit', edit_price_table_path(@price_table),class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-left' %>
    </div>
</div>
<div class="col-md-4"></div>