<div class="col-md-1"></div>
<div class="col-md-10 w3-responsive">
<p id="notice"><%= notice %></p>

<h1 class="w3-container w3-center">Product Categories</h1>

<table class="w3-container w3-table-all table-striped">
  <thead>
    <tr class="w3-blue">
      <th>Category name</th>
      <th>User</th>
      <th>Active status</th>
      <th>Del status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.category_name %></td>
        <td><%= product_category.user_id %></td>
        <td><%= product_category.active_status %></td>
        <td><%= product_category.del_status %></td>
        <td><%= link_to 'Show', product_category,class: 'w3-btn w3-white w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white w3-right' %></td>
        <td><%= link_to 'Edit', edit_product_category_path(product_category),class: 'w3-btn w3-white w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white w3-right' %></td>
        <td><%= link_to 'Destroy', product_category, method: :delete, data: { confirm: 'Are you sure?' },class: 'w3-btn w3-white w3-border w3-border-red w3-round w3-small w3-hover-red w3-hover-text-white w3-right' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product category', new_product_category_path ,class: 'w3-btn w3-white w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-left'%>
</div>
<div class="col-md-1"></div>