
<%= simple_form_for(@sales_agent) do |f| %>
  <%= f.error_notification %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <br/>
    <%= f.input :surname %>
    <%= f.input :other_names %>
    <%= f.input :dob %>
    <%= f.input :gender %>
    <%= f.input :tel_number %>
    <%= f.input :location_address %>
    <%= f.input :age %>
    <%= f.input :active_status, as: :hidden, input_html: {value: 1, class: 'form-control w3-input'}  %>
    <%= f.input :del_status, as: :hidden, input_html: {value: 0, class: 'form-control w3-input'}  %>
    <%= f.input :user_id, as: :hidden %>
    <br/>
  </div>

  <div class="w3-container">
    <%= f.button :submit,class:'w3-btn w3-white w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back', sales_agents_path,class:'w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' %>
  </div>
    <br/>
<% end %>
