<div class="col-md-1"></div>
<div class="w3-container col-md-10 w3-responsive">
<p id="notice"><%= notice %></p>

<h1>Sales Agents</h1>

<table class="w3-container w3-table-all table-striped">
  <thead>
    <tr class="w3-blue">
      <th>Surname</th>
      <th>Other names</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Tel number</th>
      <th>Location address</th>
      <th>Age</th>
      <!--<th>Active status</th>-->
      <!--<th>Del status</th>-->
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_agents.each do |sales_agent| %>
      <tr>
        <td><%= sales_agent.surname %></td>
        <td><%= sales_agent.other_names %></td>
        <td><%= sales_agent.dob %></td>
        <td><%= sales_agent.gender %></td>
        <td><%= sales_agent.tel_number %></td>
        <td><%= sales_agent.location_address %></td>
        <td><%= sales_agent.age %></td>
        <!--<td><%#= sales_agent.active_status %></td>-->
        <!--<td><%#= sales_agent.del_status %></td>-->
        <td><%= sales_agent.user_id %></td>
        <td><%= link_to 'Show', sales_agent,class: 'w3-btn w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_sales_agent_path(sales_agent),class: 'w3-btn w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' %></td>
        <td><%= link_to 'Destroy', sales_agent, method: :delete, data: { confirm: 'Are you sure?' },class: 'w3-btn w3-border w3-border-red w3-round w3-small w3-hover-red w3-hover-text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales agent', new_sales_agent_path,class: 'w3-button w3-white w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-left' %>
</div>
<div class="col-md-1"></div>