<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @sales_agent.surname %>
</p>

<p>
  <strong>Other names:</strong>
  <%= @sales_agent.other_names %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @sales_agent.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @sales_agent.gender %>
</p>

<p>
  <strong>Tel number:</strong>
  <%= @sales_agent.tel_number %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @sales_agent.location_address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sales_agent.age %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @sales_agent.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @sales_agent.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @sales_agent.user_id %>
</p>
<div class="w3-container col-md-4">
  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    <p id="notice"><%= notice %></p>
    <table class="w3-table w3-border table-bordered">
      <tr>
        <td class="w3-blue"><strong>Surname </strong></td><td style="padding-left: 6%"><%= @sales_agent.surname %></td>
      </tr>
      <tr>
        <td class="w3-blue"><strong>Other names </strong></td><td style="padding-left: 6%"><%= @sales_agent.other_names %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Dob </strong></td><td style="padding-left: 6%"><%= @sales_agent.dob %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Gender </strong></td><td style="padding-left: 6%"><%= @sales_agent.gender %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Tel number </strong></td><td style="padding-left: 6%"><%= @sales_agent.tel_number %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Location address </strong></td><td style="padding-left: 6%"><%= @sales_agent.location_address %></td>
      </tr>

    </table>
  </div>
  <div class="w3-container">
    <%= link_to 'Back', sales_agents_path,class: 'w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' ,style:'margin-right: 4px' %>
    <%= link_to 'Edit', edit_sales_agent_path(@sales_agent),class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-left' %>
  </div>
</div>
<div class="col-md-4"></div>
