nav .navbar-nav li a{
    color: white !important;
}



body {
    font-family: 'Roboto',sans-serif;
    background-image: url('../images/test.jpg');
}
.main-section{
    margin:0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content{
    background-color: #0d082b;
    opacity: .95;
    padding: 0 18px;
    box-shadow:0px 0px 3px #848484;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow:0px 0px 2px #0d082b;
}

.btn{
    background-color: #004996 !important;
    color: white !important;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #004996;
}
.btn:hover , .btn:focus {
    background-color: #0160c4 !important;
    border-bottom: 4px solid  transparent !important;
}
.form-control{
    padding-left: 30px !important;
}

.svg-inline-fa{
    font-size: 20px;
    margin-right: 7px;
}

.forgot{
    padding:5px 0 25px;
}

.forgot a{
    color: #c2fbfe;
}


.navbar{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.bg-company-red {
    background-color: #0d082b !important;
}



