<div class="col-md-1"></div>
<div class="w3-container col-md-10 w3-responsive">
    <p id="notice"><%= notice %></p>

    <h1 class="w3-center">Products</h1>

    <table class="w3-container w3-table-all table-striped">
      <thead>
        <tr class="w3-blue">
          <th>Category</th>
          <th>Product name</th>
          <th>User</th>
          <th>Active status</th>
          <th>Del status</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.product_category.category_name if product.product_category%></td>
            <td><%= product.product_name %></td>
            <td><%= product.user_id %></td>
            <td><%= product.active_status %></td>
            <td><%= product.del_status %></td>
            <td><%= product.price_table.price if product.price_table %></td>
            <td><%= link_to 'Show', product,class: 'w3-btn w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
            <td><%= link_to 'Edit', edit_product_path(product),class: 'w3-btn w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class: 'w3-btn w3-border w3-border-red w3-round w3-small w3-hover-red w3-hover-text-white' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
<%= link_to 'New Product', new_product_path,class: 'w3-button w3-white w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-left'  %>
</div>
<div class="col-md-1"></div>