
<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <%= f.input :product_id %>
    <%= f.input :quantity %>
    <%= f.input :agent_id %>
    <%= f.input :date_time %>
    <%= f.input :user_id ,as: :hidden,input_html: {value: @users_sale, class: 'form-control w3-input'}%>
    <%= f.input :active_status,as: :hidden ,input_html: {value: 1, class: 'form-control w3-input'}%>
    <%= f.input :del_status,as: :hidden,input_html: {value: 0, class: 'form-control w3-input'} %>
  </div>

  <div class="w3-container">
    <%= f.button :submit,class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back',sales_path,class: 'w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' %>
  </div>
<% end %>
