<p id="notice"><%= notice %></p>

<div class="col-md-4"></div>
<div class="w3-container col-md-4">
  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    <p id="notice"><%= notice %></p>
    <table class="w3-table w3-border table-bordered">
      <tr>
        <td class="w3-blue"><strong>Product </strong></td><td style="padding-left: 6%">
          <%= @sale.product_id %>
      </tr>
      <tr>
        <td class="w3-blue"><strong>Quantity </strong></td><td style="padding-left: 6%">
          <%= @sale.quantity %>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Agent </strong></td><td style="padding-left: 6%">
          <%= @sale.agent_id %>
        </td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Date time </strong></td><td style="padding-left: 6%">
          <%= @sale.date_time %>
        </td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>User </strong></td><td style="padding-left: 6%">
          <%= @sale.user_id %>
        </td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Active status </strong></td><td style="padding-left: 6%">
          <%= @sale.active_status %>
        </td>
      </tr>


      <tr>
        <td class="w3-blue"><strong>Del status </strong></td><td style="padding-left: 6%">
        <%= @sale.del_status %>
      </td>
      </tr>

    </table>
  </div>
  <div class="w3-container">
    <%= link_to 'Back', sales_path,class: 'w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' ,style:'margin-right: 4px'%>
    <%= link_to 'Edit', edit_sale_path(@sale),class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-left' %>

  </div>
</div>
<div class="col-md-4"></div>