<% flash.each do |name, msg| %>
    <div class="container w3-lobster w3-large" id="switching" style="width: 400px; height: 25px;">
  <div class="row">
    <div id="alert_message" class=" w3-card-4 alert alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>

      <%#= flash[:alert] %>
      <%#= flash[:notice] = "The message was sent..." %>

    </div>
  </div>
</div>
<% end %>