<nav class="navbar navbar-default w3-blue">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
          <%= image_tag ('fan-milk.jpg'), class: "w3-left w3-margin-right w3-margin-left", style: "margin-top: 5px; width:50px; padding-bottom: 5px;" %>
          <b class="navbar-brand " style="color:#fff; ">Inventory Management System</b>
      <% end %>

        </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to 'Home', root_path %></li>
        <li><%= render 'layouts/navigation_links' %></li>
        
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




