<%# add navigation links to this file %>

<li class=" w3-hover-blue-grey">
	<%= link_to 'Sales', sales_path %>
</li >

<li class=" w3-hover-blue-grey">
	<%= link_to 'Product', products_path %>
</li>

<li class=" w3-hover-blue-grey">
	<%= link_to 'Product Category', product_categories_path %>
</li>

<li class=" w3-hover-blue-grey" >
	<%= link_to 'Prices', price_tables_path %>
</li>


<li class=" w3-hover-blue-grey">
	<%= link_to 'Sales Agents', sales_agents_path %>
</li>
